* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.loader {
    width: 100%;
    height: 100vh;
}

.Namboku {
    height: calc(100%/3);
    width: 100%;
    background-color: #008000;
    position: relative;
    overflow: hidden;
}


.Tozai {
    height: calc(100%/3);
    width: 100%;
    background-color: #e46c0a;
}

.Toho {
    height: calc(100%/3);
    width: 100%;
    background-color: #1d1dff;
}